<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Level-Up Games"}) %>
    </head>
    <body>
        <header><%- include("partials/header.ejs") %></header>
        <div class="banner">
            <ul>
                <li>
                    <img src="/images/layout/banner-home.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/layout/banner-home-2.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/layout/banner-home-3.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/layout/banner-home-4.jpg" alt="Banner" />
                </li>
            </ul>
        </div>
        <div class="banner-shipping">
            <h3>
                Envíos sin cargo a todo el país <i class="fas fa-truck"></i>
            </h3>
            <h4>
                <span style="color: #eb0000">#QuedateEnCasa</span> | Llamanos al
                (011) 5263-7400 | Entrega en 24 hs.
            </h4>
            <p>#QuedateEnCasa</p>
        </div>

        <main>
            <section class="featured">
                <h2>Destacados <b>GAMES</b></h2>

                <section class="products-section">
                    <div class="product-gallery">
                        <% let cantidadGames = 0 %> 
                        <% for (let i = 0; i < products.length; i++) { %> 
                            <% if (products[i].outstanding == "true" && products[i].category == "games") { %>
                                <% cantidadGames++ %> 
                                <%-
                                include("partials/product-card", { product: products[i] }) %> 
                                <%  } %>
                                <% if (cantidadGames == 4) { %>
                                 <% break %> 
                                <% } %>
                            <% } %>
                    </div>
                </section>
    
                <br />

                <h2>Destacados <b>CONSOLAS</b></h2>

                <section class="products-section">
                    <div class="product-gallery">
                        <% let cantidadConsolas = 0 %> 
                        <% for (let i = 0; i < products.length; i++) { %> 
                            <% if (products[i].outstanding == "true" && products[i].category == "consoles") { %>
                                <% cantidadConsolas++ %> 
                                <%-
                                include("partials/product-card", { product: products[i] }) %> 
                                <%  } %>
                                <% if (cantidadConsolas == 4) { %>
                                 <% break %> 
                                <% } %>
                            <% } %>
                    </div>
                </section>
            </section>
        </main>
        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
