<article class="product-card">
    <div class="product-card-header">
        <p><%= product.name %></p>
    </div>
    <a href="/products/<%= product.id %>">
        <img
            src="/images/products/<%= product.image %>"
            alt="<%= product.name %>"
        />
    </a>
    <div class="product-card-price">
        <i class="fas fa-shopping-cart"></i>
        <p>$<%= thousand(product.price) %></p>
    </div>
</article>
