<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Página de producto"}) %>
        <link rel="stylesheet" href="/css/product.css">
    </head>
    <body>

        <header><%- include("partials/header.ejs") %></header>
        
        <main>
            
            <section class="product">             
                
                <div class="product-img">
                    <img src="/images/products/<%= product.image %>" alt="Foto de <%= product.name %>">
                </div>
                <div class="product-info">
                    <h2><%= product.name %></h2>
                    <p class="product-code">Código: 000<%= product.id %></p>
                    <p class="product-price">$<%= thousand(product.price) %></p>
                    <span>Cantidad</span>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <div class="product-buy">
                    <a class="btn-buy" href="/checkout">COMPRAR</a>
                    <i class="fas fa-shopping-cart"></i>
                    </div>
                    <i class="fas fa-heart"></i>
                </div>

                <div class="product-description">
                    <h4>DESCRIPCION</h4>
                    <p><%= product.description %></p>
                </div>
            </section>

            <% if (user && user.admin) { %>

            <div class="admin-product">
                <a href="/products/edit/<%= product.id %>" class="btn">Editar producto</a>
                <a href="/products/delete/<%= product.id %>" class="btn">Borrar producto</a>
            </div>

            <% } %>

            <section class="suggested">
                <h2>
                    Productos <br />
                    <b>SUGERIDOS</b>
                </h2>
            
                <div class="product-gallery">
                    <% let cantidadGames = 0 %> 
                        <% for (let i = 0; i < suggestedProducts.length; i++) { %> 
                            
                                <% cantidadGames++ %> 
                                <%-
                                include("partials/product-card", { product: suggestedProducts[i] }) %> 
                               
                                <% if (cantidadGames == 4) { %>
                                 <% break %> 
                                <% } %>
                            <% } %>
                </div>

            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
        
    </body>
</html>
