<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Página de producto"}) %>
        <link rel="stylesheet" href="/css/product.css">
    </head>
    <body>

        <header><%- include("partials/header.ejs") %></header>
        
        <main>
            
            <section class="product">             
                
                <div class="product-img">
                    <img src="/images/products/<%= product.image %>" alt="Foto de <%= product.name %>">
                </div>
                <div class="product-info">
                    <h2><%= product.name %></h2>
                    <p class="product-code">Código: 000<%= product.id %></p>
                    <p class="product-price"><%= thousand(product.price) %></p>
                    <span>Cantidad</span>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <div class="product-buy">
                    <a class="btn-buy" href="/checkout">COMPRAR</a>
                    <i class="fas fa-shopping-cart"></i>
                    </div>
                    <i class="fas fa-heart"></i>
                </div>

                <div class="product-description">
                    <h4>DESCRIPCION</h4>
                    <p><%= product.description %></p>
                </div>
            </section>

            <section class="suggested">
                <h2>
                    Productos <br />
                    <b>SUGERIDOS</b>
                </h2>
            
                <div class="suggested-gallery">
                    <a href="/products/<%= suggestedProducts[0].id%>">
                    <div class="product-card">
                        <p class="product-card-header"><%= suggestedProducts[0].name %></p>
                        <img src="/images/products/<%= suggestedProducts[0].image %>" alt="<%= suggestedProducts[0].name %>" />
                        <div class="product-card-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$<%= suggestedProducts[0].price %></p>
                        </div>
                    </a>
                    </div>
            
                    <a href="/products/<%= suggestedProducts[1].id%>">
                    <div class="product-card">
                        <p class="product-card-header"><%= suggestedProducts[1].name %></p>
                        <img src="/images/products/<%= suggestedProducts[1].image %>" alt="<%= suggestedProducts[1].name %>" />
                        <div class="product-card-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$<%= suggestedProducts[1].price %></p>
                        </div>
                        </a>
                    </div>

                    <a href="/products/<%= suggestedProducts[2].id%>">
                    <div class="product-card-desktop">
                        <p class="product-card-header"><%= suggestedProducts[2].name %></p>
                        <img src="/images/products/<%= suggestedProducts[2].image %>" alt="<%= suggestedProducts[2].name %>" />
                        <div class="product-card-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$<%= suggestedProducts[2].price %></p>
                        </div>
                        </a>
                    </div>

                    <a href="/products/<%= suggestedProducts[3].id%>">
                    <div class="product-card-desktop">
                        <p class="product-card-header"><%= suggestedProducts[3].name %></p>
                        <img src="/images/products/<%= suggestedProducts[3].image %>" alt="<%= suggestedProducts[3].name %>" />
                        <div class="product-card-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$<%= suggestedProducts[3].price %></p>
                        </div>
                    </a>
                    </div>

                </div>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
        
    </body>
</html>
