<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Editar producto"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <section class="create-back">
                <div class="create">
                    <h2>EDITAR PRODUCTO</h2>
                    <form action="/products/edit/<%= product.id %>?_method=PUT"
                    method="POST">
                        <input
                            class="caja"
                            type="text"
                            value=<%= product.name %>
                            name="name"
                        />
                        <input
                        type="text" 
                        class="caja"   
                        value=<%= product.description %>
                        name="description"
                        ></input>
                        <input
                            class="caja"
                            type="text"
                            value=<%= product.price %>
                            name="price"
                        />
                        <input 
                        class="caja" 
                        type="number" 
                        placeholder="Descuento" 
                        value=<%= product.discount %>
                        name="discount" 
                    />

                     <select
                            class="caja"
                            type="text"
                            name="category"
                        />
                        <option value="consoles" <%= product.category == "consoles" ? "selected" : "" %> >Consolas</option>
                        <option value="accesories" <%= product.category == "accesories" ? "selected" : "" %>>Accesorios</option>
                        <option value="games" <%= product.category == "games" ? "selected" : "" %>>Juegos</option>

                    </select>
                        <label class="cartel" for="photo"
                            >Imagen de producto
                            <input
                                class="photo"
                                type="file"
                                name="image"
                                placeholder="Foto producto"
                                value="<%= product.image %>"
                            />
                        </label>
                        <button type="submit">EDITAR</button>
                    </form>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
